aiofiles==0.7.0
asgiref==3.3.4
attrs==21.2.0
cffi==1.14.5
click==8.0.1
cryptography==3.4.7
fastapi==0.65.2
h11==0.12.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.3
opencv-python==4.5.2.54
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
Werkzeug==2.0.1
